name: bump-version-and-tag

on:
  push:
    branches:
     - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: checkout-code
        uses: actions/checkout@v3

      - name: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name:  automate-version-bump
        uses:  'phips28/gh-action-bump-version@master'
        with:
          major-wording:  '(major),breaking,breaks,break'
          minor-wording:  '(minor),feat,feature,features'
          patch-wording:  '(patch),fix,bugfix'     # Providing patch-wording will override commits
                                            # defaulting to a patch bump.
          rc-wording:     '(alpha),(rc)'           # Providing rc-wording will override commits
                                            # defaulting to a release candidate bump.
          tag-prefix:  'v'

